@import 'tailwindcss';
@import 'uniwind';

/* REAL frosted glass style */
.glass-card {
  background-color: rgba(255, 255, 255, 0.12); 
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  border: 1.2px solid rgba(255, 255, 255, 0.28);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
              0 10px 10px rgba(0,0,0,0.22);
  border-radius: 28px;
}
